<div
  class="fixed w-screen h-screen top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 -z-40 filter blur-md"
>
  <img
    src="/assets/blob1.svg"
    alt=""
    loading="lazy"
    decoding="async"
    class="absolute top-1/2 left-1/2 -translate-x-2/3 -translate-y-1/3 w-full max-w-xl mix-blend-multiply"
  />
  <img
    src="/assets/blob2.svg"
    alt=""
    loading="lazy"
    decoding="async"
    class="absolute top-1/2 left-1/2 -translate-x-1/3 -translate-y-2/3 w-full max-w-xl mix-blend-multiply"
  />
</div>
